.form-container .pet-portrait {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-top: 8px;
  cursor: pointer;
}

.pet-portrait img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 8px;
}

.pet-portrait img:hover {
  filter: brightness(90%);
}

.pet-portrait strong {
  margin: 5px;
  color: #737380;
  line-height: 21px;
  font-size: 16px;
}
